
// Primary colors
$Cyan: hsl(180, 66%, 49%);
$lightCyan: hsl(180, 56%, 74%);
$DarkViolet: hsl(257, 27%, 26%);

// Secondary colors

$Red: hsl(0, 87%, 67%);

// Neutral colors

$Gray: hsl(0, 0%, 75%);
$GrayishViolet: #9e9aa7;
$VeryDarkBlue: hsl(255, 11%, 22%);
$VeryDarkViolet: hsl(260, 8%, 14%);
$white:hsl(0, 0%, 95%);

//  Typography
$font-family:'Poppins', sans-serif;
//font sizes

$small:10px;
$medium: 16px;
$main:18px;
$large: 20px;
$largest:40px;
$biggestfont:70px;


// fontweights

$smallweight:500;
$largeweight:700;